#header {
 background: url("../../assets/image/büyük-resim/Hero.png.url");

  min-height: 850px;
}


.border-1 {
  border: solid 30px;
  border-radius: 2.5rem;
  border: white;
  background-color: white;
  padding: 50px 0;
  transform: translateY(-60px);
  }
.more {
  text-decoration: none;
}
.border-hight {
  border-right: 1px solid rgb(128, 128, 128, 0.5);
  min-height: 100%;
}
.border-b{
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}
.orta{
min-height:650px;
}
.border-2 {
  border: solid 30px;
  border-radius: 2.5rem;
  min-height: 350px;
  border: white;
  background-color: #f4f6fa;
  padding: 50px;
  
}
.buy-1{
  padding-left: 10rem;
}
#header-5{
  min-height:550px;
}
.header-5{
  margin-top: 3rem;
 
}
.border-3{
  min-height: 700px;
  background-color: #f8fbff;
  border-radius: 2.5rem;
  padding-top: 50px;
  }


.group-68-col{
  margin-left: 100px;
  margin-bottom: 50px;
}
.border-4{
  min-height: 550px;
  background-color: #f9fbfe;
  border-radius: 2.5rem;
  padding-top: 50px;
  }
#acordion{
  min-height: 700px;
}
.my-gradient{
  background-image: url(/assets/image/büyük-resim/Hero.png)!important;
}
.pls{
  color: #28c165;
}
.pls-x{
  color:#f4574d;
}

