.navbar{
    text-align: center !important;
    // background-color: #deeafd;
 background: url("../../assets/image/büyük-resim/Hero.png.url");

}

.navbar-nav{
   
    display: inline-flex;
    padding: 0.625rem;
    gap: 3.75rem;
    font-size: 1.125rem;
}
