.star {
  width: 2.5rem;
  position: absolute;
  bottom: 580px;
  left: 600px;
  height: 50px;
}

.ellipse {
  position: absolute;
  bottom: 175px;
  left: 100px;
  width: 48px;
}
.buy {
  width: 100%;
  transform: scale(1.5);
}
.credit-card {
  width: 600px;
}
.group-68 {
  width: 100%;
  transform: scale(.8);
  
}
.ok {
  padding-bottom: 5rem;
}
.group-69 {
  width: 600px ;
}
.security {
  width: 700px;
}
